services:
  mongodb:
    image: mongo:7.0.5-jammy
    restart: always
    environment:
      # Default username and password, change these!
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    command: --quiet --logpath /dev/null
    # ports:
    #   - 27017:27017
    volumes:
      - mongodb:/data/db

  redis:
    image: redis:6.2-alpine
    restart: always
    # ports:
    #   - 30002:30002
    command: redis-server --save 60 1 --port 30002 --loglevel warning
    volumes:
      - redis:/data

  horde-server:
    image: ghcr.io/epicgames/horde-server:$HORDE_VERSION
    restart: always
    environment:
      # Horde uses standard configuration from ASP.NET, allowing values to be set through env vars and files.
      # See https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/
      # To configure via config file, see the mounted directory and file ./data/server.json.
      # The env vars below are set as they're configured through Docker Compose
      Horde__HttpPort: 0
      Horde__Http2Port: 0
      Horde__HttpsPort: 443
      Horde__ServerUrl: $HORDE_SERVER_URL
      Horde__RedisConnectionConfig: redis:30002
      Horde__DatabaseConnectionString: mongodb://$MONGO_USERNAME:$MONGO_PASSWORD@mongodb:27017/Horde?authSource=admin
    ports:
      - 443:443
    volumes:
      - ./data:/app/Data

volumes:
  mongodb:
    driver: local
  redis:
    driver: local
